<form #MyForm="ngForm">
    <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" formControlName="code">
        </div>
      <div class="alert alert-danger" *ngIf="MyCode.errors">
<div *ngIf="MyCode.errors.required">champ obligatoire</div>
<div *ngIf="MyCode.errors.pattern">pattern non respecte</div>
      </div>

        <div class="form-group">
            <label>Libelle</label>
            <input type="text" class="form-control" formControlName="libelle">
            </div>

            <div  class="alert alert-danger" *ngIf="MyForm.get('libelle').errors">
             <div *ngIf="MyForm.get('libelle').errors.required">champ obligatoire</div>
             <div *ngIf="MyForm.get('libelle').errors.pattern">pattern non respecte</div>
            </div>
            <div formGroupName="sg">
                
            </div>
<button class="btn btn-primary" [disabled]="MyForm.invalid" (click)="save(MyForm)">ajouter</button>

</form>
