<h3>Create Facture</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="Facturesaveform" #save (ngSubmit)="saveFacture(saveFacture)">  
          <div class="form-group">  
              <label for="name">montantRemise</label>  
              <input type="text" class="form-control"  formControlName="montantRemise" data-toggle="tooltip"   
                 data-placement="right" title="Enter montantRemise" >  
                 <div class="alert alert-danger" *ngIf="montantR.errors">
                    <div *ngIf="montantR.errors.required">champs obligatoire</div>
                    <div *ngIf="montantR.errors.pattern">pattern non respecte</div>
                          </div>
          </div>  
     
          <div class="form-group">  
              <label for="name">dateFacture</label>  
              <input type="text" class="form-control" formControlName="dateFacture"   
                data-toggle="tooltip" data-placement="right" title="Enter dateFacture">  
                <div class="alert alert-danger" *ngIf="dateF.errors">
                    <div *ngIf="dateF.errors.required">champs obligatoire</div>
                    <div *ngIf="dateF.errors.pattern">pattern non respecte</div>
                          </div> 
          </div>  

          <div class="form-group">  
            <label for="name">active</label>  
            <input type="text" class="form-control" formControlName="active"   
              data-toggle="tooltip" data-placement="right" title="Enter active">  
              <div class="alert alert-danger" *ngIf="active.errors">
                <div *ngIf="active.errors.required">champs obligatoire</div>
                <div *ngIf="active.errors.pattern">pattern non respecte</div>
                      </div> 
        </div>
        <div class="form-group">  
            <label for="name">montantFacture</label>  
            <input type="text" class="form-control" formControlName="montantFacture"   
              data-toggle="tooltip" data-placement="right" title="Enter montantFacture">  
              <div class="alert alert-danger" *ngIf="montantF.errors">
                <div *ngIf="montantF.errors.required">champs obligatoire</div>
                <div *ngIf="montantF.errors.pattern">pattern non respecte</div>
                      </div> 
        </div>
    
          
    
          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  
  <div class="col-sm-4"></div>  
</div>