<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h1 class="card-title">Produit List</h1><br>
              <button type="button" class=" btn btn-block btn-outline-primary btn-flat "  [routerLink]="['/addProduit']">Ajouter</button> <br>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>libelleProduit</th>
          <th>Prix Unitaire</th>
       
         
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let i of list ; let u=index">
        <td>{{i.idProduit}}</td>
        <td>{{i.codeProduit}}</td>
            <td> {{i.libelleProduit}}</td>
                <td>{{i.prixUnitaire}}</td>
               
               <td><button type="button" class="btn btn-block btn-outline-success btn-flat" (click)="UpdateProduit(i.idProduit)">Modifier</button> 
                  <button type="button" class="btn btn-block btn-outline-danger btn-flat"   (click)="deleteProduit(i.idProduit)">Supprimer</button>
                </td> 
        </tr>
      </tbody>
    </table>
  </div>